<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="天外之家,千千世界,静静倾听,天外之音,博客,编程,php,linux,{% if page.keywords %}{{ page.keywords }}{% endif %}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="/assets/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/prettify/prettify.css">
    <script src="/assets/prettify/prettify.js"></script>
    <script type="text/javascript">
    $(function(){
    $("pre:not(.line-pre)").addClass("prettyprint");
      prettyPrint();
    });
    </script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-32291008-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9874777615243213"
     crossorigin="anonymous"></script>
</head>
